.tools {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #f1f1f1;
  }
  
  .group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    gap: 2rem;
    margin: 0.5rem 1rem;
  }
  
  .stat {
    display: flex;
    gap: 0.5rem;
    font-size: 0.9rem;
    min-width: 7rem;
  }
  
  span {
    color: #c307e1;
  }
  